
/* 3D hover effect.............................*/
/*

figcaption{
	background-color: #222;
	color:#FFF;
	  background-color: hsla(0, 0%, 0%, .5);
	padding: 20px;
	
	transform: rotateX(-90deg) ;
	transform-origin: 100% 0;
	transition: 0.5s;
	transition: translateY(9em);

}
figure{
	width:277px;
	  -webkit-transform: perspective(500);
    -webkit-transform-style: preserve-3d;
    transition: 0.5s;	
}

img{
	    display: block;
        height: 100%;
    	background-color: #222;
    	transition: 0.5s;
}
figure:hover{
	 -webkit-transform: perspective(500);
    -webkit-transform-style: preserve-3d;
	
	transform: rotateX(90deg) translateY(-3em) translateZ(3em);
	transition: 0.5s;
}
body{
	margin-top: 300px;
}


*/

body{
background-image: url("https://images.unsplash.com/photo-1524098837898-6b1c101a85f6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fb244e40d62662b07e55c0877beadf1f&auto=format&fit=crop&w=500&q=60"),url("https://images.unsplash.com/photo-1524098837898-6b1c101a85f6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fb244e40d62662b07e55c0877beadf1f&auto=format&fit=crop&w=500&q=60");
background-repeat:no-repeat;
background-position: left,right,center center;
background-attachment:fixed,fixed,fixed;

background-size: 250px 100%,250px 100%,550px 600px ;
background-color: #ffffcc;
margin: 0px;
font-family: 'Courgette', cursive;

}
.header{
	
	height: 153px;
	background-image: url("");
	font-family: 'Charmonman', cursive;
	font-weight: bolder;

}
.nav2{
	background-color: #996633;
	height: 0px;
	width: 866px;
	margin-top: 80px;
	/*margin-left: 250px;*/
}
.nav3{
	margin-top: 30px;
	background-color: #a3a375;
	height: 35px;
	width: 866px;
}
.inner{
   padding: 10px 10px;
   background-color: #ffdd99;
   border-radius: 30px;
   border-style: dashed;
   border-color: #996633;
}
.innerInner{
	padding:10px 10px;
	height: 300px;
}
.one1 .innerInner{
	
	background-image: url("https://images.unsplash.com/photo-1520869578617-557561d7b114?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3d4b482761feb71cd3fee0fb71025f06&auto=format&fit=crop&w=500&q=60");

}
.two2 .innerInner{
   background-image: url("https://images.unsplash.com/photo-1519671282429-b44660ead0a7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c7faeeb52e6890389104334447aa8120&auto=format&fit=crop&w=500&q=60");
}
.three3 .innerInner{
background-image: url("F:/delishEater/html/image2.jpg");
}
.four4 .innerInner{
background-image: url("F:/delishEater/html/image4.jpg");
}
.one{
   margin: 20px 20px;
   background-color: #ffdd99;
   padding: 10px 10px;
   border-radius: 30px;
   width: 400px;

}
.two{
	 margin-left:20px;
   background-color: #ffdd99;
   padding: 10px 10px;
   border-radius: 30px;
   width: 400px;
}
.one{
	margin-left: 400px;
}
.two{
	margin-left: 400px;
}
.combine{
	background-color: #ffffcc;
	padding-top: 0px;
	width: 866px;
		margin-left: 250px;
}
.one1{
    background-color: #a3a375;
    border-radius: 20px;
    width:600px;
}
.two2{
    background-color: #a3a375;
    border-radius: 20px;
    width:600px;
    margin-left: 267px;
}
.three3{
    background-color: #a3a375;
    border-radius: 20px;
    width:600px;
}
.four4{
    background-color: #a3a375;
    border-radius: 20px;
    width:600px;
    margin-left: 267px;
}
.logo4{
	width: 220px;
	height:220px;
	margin-left: 30px;
	margin-top: 0px;
	margin-bottom: 40px;
	transform: translateY(-7em);


}
.tag{
   width: 560px;
   margin-left: 240px;
   transform: translateY(5em);
   height: 90px;

}


/*.button1{
    margin-top: 100px;
    margin-right: 500px;
}
.button2{
	margin-top: 100px;
	margin-right: 0px;
}
.button3{
	margin-top: 100px;
	margin-right: 0px;
}
.button4{
	margin-top: 100px;
	margin-left: 0px;
}*/
/*.anoth2{
	width: 70px;
	height: 70px;
	float: right;
}*/
.logo{
  padding-top: 0px;
   border-radius: 20px;
   
   width: 145px;
   height: 250px;
   
}
button{
	padding: 22px;
	font-size: 20px;
	padding-bottom: 30px;
	border: none;
	background-color:  #ffdd99;
	font-weight: normal;
	color: #996633;
	height: 70px;
	float: right;

	
}
.nav4{
	width: 866px;
	background-color:  #ffdd99;
	height: 70px;
	transform: translateY(5em);
}
.para{
     float: right;
	 margin-top: 30px;
	 margin-right: 150PX;
	 padding: 10px;
	 padding-right: 60px;
	 padding-left: 40px;
	 font-size: 22px;
	 color: #4d2600;

	 
}